.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px;
  color: gray;
}
