/* src/MySwiperComponent.css */
.slider-container {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 20px;
}

.swiper {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.swiper-button-prev:after,
.swiper-button-next::after {
  font-size: 18px;
  color: gray;
}

.swiper-button-prev {
  left: 2px;
}

.swiper-button-next {
  right: 14px;
}

.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.slide-circle {
  position: absolute;
  bottom: 81%;
  right: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .slider-container {
    width: 60%;
    margin-left: 125px;
  }

  .slide-circle {
    bottom: 85%;
    right: 15px;
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .slider-container {
    width: 47%;
    margin-left: 49px;
  }

  .slide-circle {
    bottom: 87%;
    right: 25px;
  }

  .swiper-button-prev {
    left: 17px;
  }

  .swiper-button-next {
    right: 30px;
  }
}
